<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879628009571-da39mfmsagn2hjcj8hkb2ratph8t2n6c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879628009571-da39mfmsagn2hjcj8hkb2ratph8t2n6c</string>
	<key>API_KEY</key>
	<string>AIzaSyB8o2sa7UXVsVBqBBKfnJZjZz0RBmTPQi8</string>
	<key>GCM_SENDER_ID</key>
	<string>879628009571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emiri.SwiftBooks</string>
	<key>PROJECT_ID</key>
	<string>swiftbooks-99a66</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftbooks-99a66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879628009571:ios:d7737f938db876d86cb856</string>
</dict>
</plist>